.header__edit {
  position: absolute;
  top: -8px;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  color: #1e1e1e;
  border: 2px solid #2e2e2e;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #ccc;
  font-size: 1.4rem;
  background: #cecece;
  cursor: pointer;
}