.modal__close-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 2px solid #3499fd;
  border-radius: 50%;
  box-shadow: -2px 2px 5px #00000050;
  color: #1e1e1e;
  background: #fff;
}

.modal__close-btn:hover {
  opacity: 1;
}
